@import url("https://chunksui.netlify.app/css/style.css");

/* Header Styles */

.shadow {
  box-shadow: 0 0 4px hsl(var(--bg-400));
}

.e-container {
  width: 90vw;
  max-width: 85em;
  margin: 0 auto;
}

/* resets */

header {
  box-shadow: 0 0 4px hsl(var(--bg-400));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-Lato);
}

body {
  font-family: var(--font-poppins);
}

/* Header Styles */

.navbar {
  background-color: inherit;
  color: inherit;
}

.logo h2 {
  font-size: 2.2rem;
  font-weight: 700;
  padding: 0;
}

.search-box {
  display: none;
}

/* footer styles */

.e-footer {
  margin-top: auto;
  padding: 2rem;
}

.e-footer h3 {
  padding: 0;
}

/* homepage hero section */

.hero {
  background-color: hsl(var(--bg-500));
}

.e-hero-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 90vw;
  max-width: 60em;
  margin: 0 auto;
}

.e-hero-text {
  align-self: center;
}

.e-hero-text h1 {
  padding: 0;
}

.e-cta {
  margin: 1rem 0;
}

/* categories cards container */

.categories-cards {
  padding: 2rem 0;
}
.catergories-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1rem;
}

/* Products Page */

.e-products-container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr;
  padding: 2rem 0;
}

.products-sidebar-heading {
  padding: 1rem 0;
  font-size: 1rem;
}

.sidebar-section {
  color: hsl(var(--font-600));
}

.sidebar-section:not(:last-child) {
  border-bottom: 1px solid hsl(var(--bg-500));
}

.products-container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.product-image-container {
  background-color: hsl(var(--bg-600));
}

.product-description {
  padding: 1rem;
}

.product-name {
  font-size: 1.5rem;
  font-weight: 600;
}

.login-form-container,
.singup-form-container {
  width: 90vw;
  max-width: 25em;
  margin: 2rem auto;
  padding: 1rem 0 3rem;
}

.my-2 {
  margin: 2rem 0;
}

.wishlist-container {
  padding: 3rem 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.wishlist-icon-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1rem;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsla(var(--red-500), 1);
}

.cart-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  padding: 2rem 0;
}

.cart-card {
  display: grid;
  grid-template-columns: 1fr;
  background-color: hsl(var(--bg-600));
}

.cart-description-container {
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-item-name {
  font-size: 2.5rem;
}

.cart-item-selling-price {
  font-size: 2rem;
}

.cart-item-actual-price {
  font-size: 1.5rem;
  text-decoration: line-through;
}

.cart-buttons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 0;
}

.decreaseBtn,
.increaseBtn {
  border: 1px solid hsl(var(--bg-400));
  color: inherit;
  background-color: transparent;
}

.cart-pricing-container {
  background-color: hsl(var(--bg-600));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.cart-pricing-heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  border-bottom: 1px solid hsla(var(--font-700), 0.75);
}

.cart-pricing-items {
  padding: 0.5rem 0;
  border-bottom: 1px solid hsla(var(--font-700), 0.75);
}

.cart-pricing-item {
  display: flex;
  justify-content: space-between;
}

.cart-pricing-discount-item {
  padding: 0.5rem 0;
  border-bottom: 1px solid hsla(var(--font-700), 0.75);
  display: flex;
  justify-content: space-between;
}

.cart-pricing-total-price-item {
  display: flex;
  padding: 1rem 0;
  font-weight: 700;
  justify-content: space-between;
}

@media (min-width: 760px) {
  .e-hero-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .search-box {
    display: block;
  }

  .e-products-container {
    grid-template-columns: 1fr 4fr;
  }

  .cart-container {
    grid-template-columns: 3fr 2fr;
  }

  .cart-card {
    grid-template-columns: 1fr 2fr;
  }
}
